nav {
    margin: auto;
}

li {
	display: inline;
    margin-right: 25px;
    font-size: 18px;
}

a {
    color: gray;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;  
}

label, input, select, button {
    margin: 5px;
}

th {
    background: #A9A9A9;
}